@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <div class="text-center">
        <h1 class="display-4">Welcome to SheffEvents</h1>
        <p>Learn about upcoming events in sheffield. Click the link in the header.</p>
        <img src="img/parallax.jpg"/>
    </div>
</div>