@{
    ViewBag.Title = "Content Management System";
    Layout = "_Layout";
}

<h2 class="text-center">Login</h2>

@using (Html.BeginForm("GotoCms", "CMS"))
{
    <input type="submit" value="Login">
}